body {
    margin: 0px;
    padding: 0px;
    background: #333;
}

div {
    margin: 20px;
}

h1 {
    color: #FFF;
}

h2 {
    color: #FFF;
}

p {
    color: #CCC;
    font-family: sans-serif;
}

a {
    color: #FFF;
}

ul li {
    color: #CCC;
    font-family: sans-serif;
}

footer {
    margin-left: 0px;
    margin-right: 0px;
    background: #D3CA59;
    width: 100%;
}

footer p {
    color: #8E8628;
}

footer li {
    display: inline-block;
    vertical-align: top;
    background-color: #FFF793;
}

footer li a {
    height: 25px;
    width: 100px;
    color: #8E8628;
    border: 1px solid #8E8628;
    text-decoration: none;
    text-align:center;
    display: table-cell;
    vertical-align: middle;
    font-family: sans-serif;
}

footer li a:hover {
    background: #FFFABB;
}

#navbar {
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
    height: auto;
    background-color: #9FC454;

}

#navbar li {
    display: inline-block;
    vertical-align: top;
    background-color: #CEF08A;
}

#navbar li:hover {
    background-color: #E2F8B6;
}

#navbar li a {
    height:50px;
    width: 100px;
    color: #658525;
    border: 1px solid #658525;
    text-decoration: none;
    text-align:center;
    display: table-cell;
    vertical-align: middle;
}

.expandButton {
    margin-left: 10px;
    min-width: 200px;
}

.dangerButton {
    background: orange;
    color: black;
    border: 2px dashed black;
    font-size: 16px;
    display: inline;
    float: right;
}

.dangerButton:hover {
    background: #FF0000;
}

.majorBlock {
    padding: 10px;
    padding-bottom: 25px;
    background-color: #A5E0C2;
    border: 2px solid #1C643F;
    width: 500px;
    min-height: 100px;
}

.majorBlock:hover {
    background: #DFFAEC;
}

.majorBlock h2 {
    margin: 0px;
    color: #000;
}

.majorBlock p {
    color: #1C643F;
    margin-bottom: 0px;
}

.subtle {
    text-decoration: none;
    color: #000000;
}

.enrollButton {
    float: right;
    background: #666;
    border: 2px solid #888;
    margin-left: 10px;
    min-height: 40px;
}

.enrollButton:hover {
    background: #FFF;
}