<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <!-- Navbar -->
        {% block content %}
        {% include "navbar.html" %}
        {% endblock %}

        <div>
            <h1>Majors</h1>
            <a href="majors.html">Manage</a>
            <h1>Courses</h1>
            <a href="courses.html">Manage</a>
            <h1>Users</h1>
            <a href="users.html">Manage</a>
            <h1>Exams</h1>
            <a href="examList.html">Manage</a>
        </div>
    </body>
</html>
