<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- Navbar -->
        {% block content %}
        {% include "navbar.html" %}

        <!-- About -->
        <div>
            <h1>{{course.name}}</h1>
            <p>{{course.description}}</p>
            {% for task in tasks %}
                <a class="subtle" href="/courses/{{course.course_id}}/tasks/{{task.task_id}}/markComplete/"><div class="majorBlock">
                    <h2>{{task.name}}</h2>
                    {% if task.complete %}
                        <p>Task complete!</p>
                    {% else %}
                        <p>Task not yet complete.</p>
                    {% endif %}
                </div></a>
            {% endfor %}
        </div>
        {% include "footer.html" %}
        {% endblock %}
    </body>
</html>
