{% from "macros.html" import courseCard with context %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <!-- Navbar -->
        {% block content %}
        {% include "navbar.html" %}

        <div>
            <h1>Courses</h1>
            <div>
            {% for course in courses %}
                {{ courseCard(course, false, false, false, true) }}
            {% endfor %}
            {% endblock %}
            </div>

            <h2>Create a new course</h2>
            <form action="/courses/new/", method="post">
                <p>Name of the course:</p>
                <input type="text" name="name"><br>
                <p>Description for the course:</p>
                <input type="text" name="description"><br>
                <!--URL for the course:<br>
                <input type="text" name="url"><br>-->
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
