<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- Navbar -->
        {% block content %}
        {% include "navbar.html" %}
        <div>
            <h1>{{course.name}}</h1>
            <p>{{course.description}}</p>
            <h2>Tasks:</h2>
            <div>
            {% for task in tasks %}
                <div class="majorBlock">
                    <form id="form{{task.task_id}}" action="/tasks/{{task.task_id}}/edit/", method="post">
                        Task name:<br>
                        <input size="50" type="text" value="{{task.name}}" name="name"><br>
                        Task URL:<br>
                        <input size="50" type="text" value="{{task.url}}" name="url"><br>
                        <input type="submit" value="Update" method="post">
                    </form>
                    <form action="/courses/{{course.course_id}}/tasks/{{task.task_id}}/delete/", method="post">
                        <input class="dangerButton" type="submit" value="Delete" onclick="return confirm('Are you sure you want to PERMANENTLY DELETE this task?');">
                    </form>
                </div>
            {% endfor %}
            {% endblock %} 
            </div>

            <h2>Create a new task</h2>
                <form action="/courses/{{course.course_id}}/tasks/new/", method="post">
                    <p>Name of the task:</p>
                    <input type="text" name="name"><br>
                    <p>URL for the task:</p>
                    <input type="text" name="url"><br>
                    <p>Graded: <input type="checkbox" name="isGraded"></p>
                    <input type="submit" value="Submit">
                </form>
        </div>
    </body>
</html>