{% from "macros.html" import majorCard with context %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" href="/css/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/css/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <!-- Navbar -->
        {% block content %}
        {% include "navbar.html" %}

        <div>
            <h1>Courses</h1>
            {% for course in courses %}
                {{ majorCard(course, false, false, true, false) }}
            {% endfor %}
            {% endblock %}
        </div>

        {% include "footer.html" %}
    </body>
</html>
