<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- Navbar -->
        {% block content %}
        {% include "navbar.html" %}

        <div>
            <h1>Courses</h1>
            <div>
            {% for course in courses %}
                <div class="majorBlock">
                    <form id="form{{course.course_id}}" action="/courses/{{course.course_id}}/edit/", method="post">
                        Course name:<br>
                        <input type="text" value="{{course.name}}" name="name"><br>
                        Course description:<br>
                        <textarea name="description">{{course.description}}</textarea><br>
                        Course URL:<br>
                        <input type="text" value="{{course.url}}" name="url"><br>
                        <input type="submit" value="Update" method="post">
                    </form>
                    <form action="/courses/{{course.course_id}}/delete/", method="post">
                        <input class="dangerButton" type="submit" value="Delete" onclick="return confirm('Are you sure you want to PERMANENTLY DELETE this course?');">
                    </form>
                </div>
            {% endfor %}
            {% endblock %}
            </div>

            <div>
                <h2>Create a new course</h2>
                <form action="/courses/new/", method="post">
                    Name of the course:<br>
                    <input type="text" name="name"><br>
                    Description for the course:<br>
                    <input type="text" name="description"><br>
                    URL for the course:<br>
                    <input type="text" name="url"><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </body>
</html>