{% from "macros.html" import examCard with context %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <!-- Navbar -->
        {% block content %}
        {% include "navbar.html" %}

        <div>
            <!-- Your HTML here -->
            {% for exam in exams %}
                {{ examCard(exam, "/exams/" ~exam.exam_id ~ "/edit", "/exams/" ~ exam.exam_id ~ "/delete") }}
            {% endfor %}
        </div>

        <div>
            <h2>Create new exam</h2>
            <form action="/exams/new" method="POST">
                <p>Exam title:</p>
                <input type="text" name="title"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        
        {% include "footer.html" %}
        {% endblock %}
    </body>
</html>
