<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="shortcut icon" href="/static/css/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <!-- Navbar -->
        {% block content %}
        {% include "navbar.html" %}

        <!-- Exam details -->

        <!-- Manage question banks -->

        <!-- Create/edit questions -->
        <div>
            <h2>New exam question</h2>
            <h3>Question:</h3>
            <textarea id="markdown"></textarea>
            <h3>Answer:</h3>
            <h3>Rendered question:</h3>
            <div id="rendered"></div>
        </div>

        <script type="text/javascript" src="/static/js/htmlify.js"></script>

        <script>
            var source = document.getElementById("markdown");
            var target = document.getElementById("rendered");
            link(source, target);
        </script>
        
        {% include "footer.html" %}
        {% endblock %}
    </body>
</html>
