{% from "macros.html" import majorCard with context %}
{% from "macros.html" import courseCard with context %}


<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" href="/css/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/css/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <!-- Navbar -->
        {% block content %}
        {% include "navbar.html" %}

        <!-- About -->
        <div>
            <h1>Academy for Educational Freedom</h1>
            <p>100% free. Non-profit. Open-source.</p>

            {% if "username" in login_session %}
            <h2>{{login_session["username"].split(" ")[0]}}'s Todo List:</h2>
            {% for task in unfinished_tasks %}
            <div class="taskBlock">
                <h2>{{task.name}}</h2>
                {% if task.complete %}
                    <p>Task complete <font size="5" color="#000">&#10003;</font></p>
                {% else %}
                    <p>Task not yet complete.</p>
                {% endif %}
                <div class="task-controls">
                    <form action="/courses/{{task.course_id}}/tasks/{{task.task_id}}/markComplete/", method="post">
                        <input class="enrollButton" type="submit" value="Mark Complete">
                    </form>
                    <form action="{{task.url}}", method="post">
                        <input class="enrollButton" type="submit" value="View Content">
                    </form>
                </div>
            </div>
            {% endfor %}

            <!-- Majors -->
            <h2>{{login_session["username"].split(" ")[0]}}'s Majors:</h2>
            {% for major in enrolled_majors %}
                {{ majorCard(major, true, true, false, false) }}
            {% endfor %}
            
            <!-- Courses -->
            <h2>{{login_session["username"].split(" ")[0]}}'s Courses:</h2>
            {% for course in enrolled_courses %}
                {{ courseCard(course, true, true, false, false) }}
            {% endfor %}

            {% else %}
                <p>Sign in to view your curriculum.</p>
            {% endif %}
        </div>
        {% include "footer.html" %}
        {% endblock %}
    </body>
</html>
