<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" href="/css/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/css/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <!-- Navbar -->
        {% block content %}
        {% include "navbar.html" %}

        <!-- About -->
        <div>
            <h1>{{major.name}}</h1>
            <p>{{major.description}}</p>
            {% for course in courses %}
                <a class="subtle" href="#"><div class="majorBlock">
                    <h2>{{course.name}}</h2>
                </div></a>
            {% endfor %}
        </div>
        {% include "footer.html" %}
        {% endblock %}
    </body>
</html>
