{% from "macros.html" import majorCard with context %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <!-- Navbar -->
        {% block content %}
        {% include "navbar.html" %}

        <div>
            <h1>Majors</h1>
            <div>
            {% for major in majors %}
                {{ majorCard(major, false, false, true, false) }}                
            {% endfor %}
            {% endblock %}
            </div>
        </div>
        {% include "footer.html" %}
    </body>
</html>
