<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- Navbar -->
        {% block content %}
        {% include "navbar.html" %}

        <h1>Majors</h1>
        <div>
        {% for major in majors %}
            <div class="majorBlock">
                <form id="form{{major.major_id}}" action="/majors/{{major.major_id}}/edit/", method="post">
                    Major name:<br>
                    <input type="text" value="{{major.name}}" name="name"><br>
                    Major description:<br>
                    <textarea form="form{{major.major_id}}" name="description">{{major.description}}</textarea><br>
                    <input type="submit" value="Update" method="post">
                </form>
                <form action="/majors/{{major.major_id}}/delete/", method="post">
                    <input class="dangerButton" type="submit" value="Delete" onclick="return confirm('Are you sure you want to PERMANENTLY DELETE this major?');">
                </form>
            </div>
        {% endfor %}
        {% endblock %}
        </div>

        <div>
            <h2>Create a new major</h2>
            <form action="/majors/new/", method="post">
                Name of the major:<br>
                <input type="text" name="name"><br>
                Description of the major:<br>
                <input type="text" name="description"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>