<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- Navbar -->
        {% block content %}
        {% include "navbar.html" %}

        <div>
            <h1>Majors</h1>
            <div>
            {% for major in majors %}
                <a class="subtle" href="/majors/{{major.major_id}}"><div class="majorBlock">
                <h2>{{major.name}}</h2>
                <p>{{major.description}}</p>
                    {% if "email" in login_session %}
                    {% if major in enrolled_majors %}
                    <p><font size="5" color="#00CC00">&#10003;</font>You are enrolled in this major</p>
                    <form action="/majors/{{major.major_id}}/unenroll/", method="post">
                        <input class="enrollButton" type="submit" value="Unenroll" onclick="return confirm('Are you sure you want to UNENROLL from this major? (This will not affect your enrolled classes)');">
                    </form>
                    {% else %}
                    <form action="/majors/{{major.major_id}}/enroll/", method="post">
                        <input class="enrollButton" type="submit" value="Enroll">
                    </form>
                    {% endif %}
                    {% endif %}
                </div></a>
            {% endfor %}
            {% endblock %}
            </div>
        </div>
        {% include "footer.html" %}
    </body>
</html>