{% from "macros.html" import courseCard with context %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <!-- Navbar -->
        {% block content %}
        {% include "navbar.html" %}

        <!-- About -->
        <div>
            <h1>{{major.name}}</h1>
            <p>{{major.description}}</p>
            {% for course in courses %}
                {{ courseCard(course, false, false, false, false) }}
            {% endfor %}
        </div>
        {% include "footer.html" %}
        {% endblock %}
    </body>
</html>
