<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" href="/css/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/css/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <!-- Navbar -->
        {% block content %}
        {% include "navbar.html" %}

        <div>
            <h1>Majors</h1>
            <div>
            {% for major in majors %}
                <a class = "subtle"href="/majors/{{major.major_id}}/courses/"><div class="majorBlock">
                    <h2>{{major.name}}</h2>
                    <p>{{major.description}}</p>
                    <form action="/majors/{{major.major_id}}/delete/", method="post">
                        <input class="dangerButton" type="submit" value="Delete" onclick="return confirm('Are you sure you want to PERMANENTLY DELETE this major?');">
                    </form>
                </div></a>
            {% endfor %}
            {% endblock %}
            </div>

            <div>
                <h2>Create a new major</h2>
                <form action="/majors/new/", method="post">
                    <p>Name of the major:</p>
                    <input type="text" name="name"><br>
                    <p>Description of the major:</p>
                    <input type="text" name="description"><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </body>
</html>