<div id="navbar-box"></div>
<ul id="navbar">
    <li><a href="/index.html">Home</a></li>
    <li><a href="/majorsPublic.html">Majors</a></li>
    <li><a href="/coursesPublic.html">Courses</a></li>
    <li><a href="">Forums</a></li>
    {% block content %}
    {% if not "username" in login_session%}
    <li><a href="/login.html">Log in</a></li>
    {% else %}
    <li><a href="/profile.html">Profile</a></li>
    <li><a href="gdisconnect">Log out</a></li>
    {% endif %}
    {% if login_session['isAdmin'] %}
    <li><a href="/admin.html">Admin</a></li>
    {% endif %}
</ul>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}
