<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="shortcut icon" href="/css/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/css/favicon.ico" type="image/x-icon">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="905400722559-7mfi1vmhd2bo2qcltl3nck9e6sk8q5qj.apps.googleusercontent.com">
    </head>
    <body>
        <!-- Navbar -->
        {% block content %}
        {% include "navbar.html" %}
        {% endblock %}

        <
    </body>
</html>
