{% from "macros.html" import majorCard with context %}
{% from "macros.html" import courseCard with context %}


<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" href="/css/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/css/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <!-- Navbar -->
        {% block content %}
        {% include "navbar.html" %}

        <div>
            <h1>{{login_session["username"]}}'s Profile</h1>
            <img src="{{login_session['picture']}}" width=128></img>
            <h2>Enrolled Courses</h2>
                {% for course in incomplete_courses %}
                    {{ courseCard(course, true, true, false, false) }}
                {% endfor %}
            <h2>Enrolled Majors</h2>
                {% for major in incomplete_majors %}
                    {{ majorCard(major, true, false, false, false) }}
                {% endfor %}
            <h2>Completed Courses</h2>
                {% for course in complete_courses %}
                    {{ courseCard(course, false, true, false, false) }}
                {% endfor %}

            <h2>Completed Majors</h2>
                {% for major in complete_majors %}
                    {{ majorCard(major, true, false, false, false) }}
                {% endfor %}

            {% endblock %}
        </div>

        {% include "footer.html" %}
    </body>
</html>
