<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" href="/css/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/css/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <!-- Navbar -->
        {% block content %}
        {% include "navbar.html" %}
        {% endblock %}

        <!-- About -->
        <div>
            <h1>Volunteer with us!</h1>
            <p>We are a non-profit site that relies on your help to stay up and running. Read below to find out how you can contribute.</p>
            <h2>Content Curator</h2>
            <p>Requirements:</p>
            <ul>
                <li>Substantial expertise in a subject</li>
                <li>Dedication to helping others learn</li>
            </ul>
            <p>Responsibilities:</p>
            <ul>
                <li>Evaluate online courses to ensure quality</li>
                <li>Organize courses into a logical sequence</li>
                <li>Create course material when existing courses are insufficient</li>
                <li>Write tests</li>
            </ul>
            <p>How to contribute:<br>Apply <a href="#">here</a></p>
            <h2>Developer</h2>
            <p>Requirements:</p>
            <ul>
                <li>Basic programming skills</li>
                <li>Web development experience</li>
                <li>Familiarity with relational databases</li>
            </ul>
            <p>Responsibilities:</p>
            <ul>
                <li>Help us make this site even better!</li>
            </ul>
            <p>How to contribute:<br>Contribute to our open-source code: <a href="https://github.com/jdsutton/OnlineU">GitHub</a></p>
            <h2>Tester</h2>
            <p>Requirements:</p>
            <ul>
                <li>An internet connection</li>
            </ul>
            <p>Responsibilities:</p>
            <ul>
                <li>Test the site functionality to make sure things are working properly</li>
                <li>Report bugs</li>
                <li>Suggest potential improvements</li>
            </ul>
            <p>How to contribute:<br>Report bugs <a href="#">here</a></p>
        </div>
    </body>
</html>
